@media screen and (max-width: 992px) {

	.logo img {
		margin: 1.9rem 0 0;
		max-width: 100%;
		/*max-width: 40%;
  		height:auto;  */
  		/*border: 1px solid red;*/
	}



	.header-contacts {
		margin-bottom: 1.9rem;
	}

	section {
		height: 100%;
		border-top: 2px solid green;
		padding: 50px 0;
	}

	#eyelashes, #manicure, #muller, #maps {
		height: 100%;

	}

	h2 {
		margin-top: 0rem;
		font-size: 3rem;
		line-height: 1;
	}

	.margin-top-content {
		margin-top: 40px;
	}

	#maps .margin-top-content {
		margin-top: 0;
	}

	.barbershop__description, .eyelashes__description, .map, .services-maps{
		margin-top: 50px;
	}

	.services-barbershop, .services-manicure, .services-eyelashes {
		margin-top: 20px;
	}

	.manicure__img, .muller__img {
		margin-top: 50px;
	}

	.services-maps {
		margin-right: 0;
		margin-left: 0.5rem;
	}

}