* {
    margin: 0;
    padding: 0;
}
section {
    background: url(img/bg.jpg) no-repeat;
    background-size: contain;
}

.flex-container {
    /* border: 1px solid red; */
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-wrapper {
    height: auto;
    margin: 10px 0 0;
}


section .text-wrapper h2 {
    border: 1px solid #ddd;
    border-radius: 40px;
    font: 700 28px "Amatic SC";
    margin: 8px auto 15px;
    padding: 5px;
    text-align: center;
    width: 200px;
    color: #fff;
    background-color:  	#F08080;
  }


.head-title {
    
    text-align: center;
    line-height: 1.5;
    font-family: "Lora", serif;
    font-style: italic;
}

.title {
    margin: 15px 0 0;
    width: 300px;
    font-family: "Lora", serif;
    font-style: italic;
    line-height: 1.5;
}

.logo {
    width: 244px;
    height: 244px;
    border-radius: 160px 160px;
    box-shadow: 0 0 10px #666;
    
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of 38c1fe0... 10

=======
>>>>>>> parent of 4582fc8... update-10
=======
>>>>>>> parent of 4582fc8... update-10
=======
>>>>>>> parent of 4582fc8... update-10
/* .logo:hover {
    animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
    -webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1);
	}	
	100% {
		transform: scale(0.9);
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
	}
	50% {
		-webkit-transform: scale(1);
	}	
	100% {
		-webkit-transform: scale(0.95);
	}			
}
} */

.logo:hover {
        animation-name: tossing;
        -webkit-animation-name: tossing;	
    
        animation-duration: 2.5s;	
        -webkit-animation-duration: 2.5s;
    
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }
    
    @keyframes tossing {
        0% {
            transform: rotate(-4deg);	
        }
        50% {
            transform: rotate(4deg);
        }
        100% {
            transform: rotate(-4deg);	
        }						
    }
    
    @-webkit-keyframes tossing {
        0% {
            -webkit-transform: rotate(-4deg);	
        }
        50% {
            -webkit-transform: rotate(4deg);
        }
        100% {
            -webkit-transform: rotate(-4deg);	
        }				
    }
    

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.logo:hover {
    box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
    
<<<<<<< HEAD
=======
.img-wrapper img:hover {
>>>>>>> parent of 97988d7... new animation
=======
/* .logo:hover {
>>>>>>> parent of 4582fc8... update-10
=======
>>>>>>> parent of 38c1fe0... 10
=======
/* .logo:hover {
>>>>>>> parent of 4582fc8... update-10
=======
/* .logo:hover {
>>>>>>> parent of 4582fc8... update-10
    animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
} */



hr {
    margin: 100px 0 0;
    border: none;
    background-color: #F08080;
    height: 2px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.caption {
    margin: 30px 0 0;
    text-align: right;
    font-family: 'Monotype Corsiva', sans-serif;
    letter-spacing: 3px;
    color: #778899;
    font-size: 18px;
    text-transform: uppercase;
    
}

footer {
    background: url(img/bg-4.jpg);
    background-size: cover;
}

.map-icon {
    width: 22px;
    height: 22px;
    margin: 0 10px 0 0;

}

footer p {    
    font-size: 18px;
    color:  #C0C0C0;
    text-transform: uppercase;
}