@media screen and (max-width: 1199px) {
	html {
		font-size: 8px;
	}
	.menu {
		display: none;
	}

	.m-menu-link {
		display: block;
	}

	.article h1 {
		font-size: 6rem;
	}

	.article span {
		font-size: 1.8rem;
	}

	#sect1 {
		height: auto;
		justify-content: space-around;
		padding: 10rem;
	}



	.art-sect1 p{
		font-size: 1.8rem;
		line-height: 1;
		text-align: justify;
		width: 25rem;
	}

	.price {
		padding: 2rem;
		margin: 1rem;
	}

	.art-sect1 span {
		font-size: 1.5rem;
	}
	
	.art-sect1 h2 {
	font-size: 5rem;
	padding-top: 1.2rem;
	}

	.art-sect1 h2:hover {
		font-size: 5rem;
	}

	.call-to-action {
		justify-content: center;
	height: 50rem;
	padding-right: 0; 
	padding-left: 0;
	}

	.call-to-action h4 {
		font-size: 3rem;
	}

	.cta-btn{
		padding: 3rem 3rem;
		margin: 1.5rem;
	}

	.cta-btn:hover{
		padding: 3rem 3rem;
		margin: 1.5rem;
	}

	.btn-block {
		display: flex;
		flex-direction: column;
		padding-top: 5rem;
	}

	#footer {
		display: none;
	}

	.copy {
	font-size: 1.1rem;
}
}