*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
}

a {
    text-decoration: none;
}

#first-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    background: url(/img/background.jpeg) no-repeat center;
    background-size: cover;
    position: relative;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 90%;
    position: relative;
    z-index: 1;
    /* border: 2px solid red; */
}

.overlay,
.footer-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 0; 
    /* Не обязательно. Т.к на переднем плане, при равном значении z-index, находится тот элемент, который в коде html находится ниже. У нас overlay находится выше, поэтому header и всё что ниже идут поверх */
    background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  }

  .logo {
      display: flex;
      align-items: center;
      /* Не растягивается на весь контейнер, а прижимается к краю */
      justify-content: space-around;
      width: 15vh;
      /* border: 1px solid red;   */
      
  }

  nav {
      width: 40%;
      /* border: 1px solid orange; */
  }

  nav ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      /* border: 1px solid green; */
  }

  .menu-link {
      text-decoration: none;
      color: #fff;
      font-size: 1.6rem;   
  }

  .get-started-btn {
      margin-left: 20px;
      padding: 10px 20px;
      border: 1px solid #fff;
      border-radius: 100px;
      text-transform: uppercase;
  }

  .main-text {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .main-text span {
      display: inline-block;
      font-size: 1.4rem;
  }

  .main-text span::after {
      content: '';
      width: 20px;
      height: 1px;
      background-color: #fff;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
  }

  .main-text span::before {
      content: '';
      width: 20px;
      height: 1px;
      background-color: #fff;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;      
  }

  h1 {
      font-size: 86px;
      margin: 43px 0 23px;
      /* У Артёма margin 0.5rem */
  }

  .main-text__description {
      display: inline-block;
      width: 70%;
      line-height: 2;
      text-align: center;
      font-size: 1.6rem;
  }

  .main-arrow {
      z-index: 2;
      position: relative;
      height: 10vh;
      /* border: 1px solid red; */
  }

/* .main-arrow * {
    border: 1px solid red;
} */

  .arrow-down{
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
  }

  .arrow-down:hover {
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
  }



  #section__select-plan {
      height: 100vh;
      background-color: #f9fafc;
      min-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      /* align-items: center; */
      padding: 4rem;
  }

  #section__select-plan span,
  #section__select-plan p {
      color: #9fa4af;
  }

  #section__select-plan p.main-text__description {
      width: 30%;
  }

  #section__select-plan span::after {
    background-color: #6e45e2;
  }

  #section__select-plan span::before{
    background-color: #6e45e2;
  }   

  #section__select-plan h2 {
      font-size: 60px;
      color: #4f4f6f;
      margin: 30px 0 40px;  
  }  

  .card-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 70%;
      margin: 0 auto;
      /* border: 1px solid red; */
  }
  
  .price-card {
      /* width: 45vh; */
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;      
      border: 1px solid #d7dbe8;
      border-radius: 2.5rem;
      text-align: center;
      padding: 3rem 7rem;
      background-color: #fff;
      transition: 0.5s;
  }

  .price-card:hover {
    box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
    cursor: pointer;
}

.price-card span {
    font-size: 1.4rem;
    color: #9fa4af;
    text-transform: uppercase;
}

.price-card h4 {
    font-size: 3.5rem;
    font-weight: 500px;
    color: #4f4f6f;
    margin: 0;

}
.price-card p {
    width: 250px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9fa4af;
}

.price-card sup {
	font-size: 1.4rem;
	margin-right: 0.3rem;
	vertical-align: super;
}

.price-card sub {
	font-size: 1.4rem;
}

.price-btn {
	background-color: #fff;
	color: #9fa4af;
	border-radius: 100px;
	border: 1px solid #9fa4af;
	font-size: 1.2rem;
	text-transform: uppercase;	
	padding: 1rem 4rem;
	font-weight: 500;
	margin: 2rem auto;
    transition: 0.5s;
    /* position: absolute; */
}

.price-btn:hover {
	background-color: #6e45e2;
	color: #fff;
	box-shadow: none;
    cursor: pointer;    
}

#control-data {
    /* text-align: center; */
    background-image: url(/img/background.png);
    height: 45vh;
    
}

.footer-overlay {
    height: 45vh;
}

.wrap-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
    position: relative;
    /* border: 1px solid red; */
}

#control-data span {
    font-size: 14px;
    color: #fff;
    /* font-weight: 500; */
    text-transform: uppercase;
}

#control-data h4 {
    font-size: 4rem;
    color: #fff;
    margin: 2rem 0 1.5rem;
    font-weight: 500;
}

.cta-btn-wrap {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;    
    color: #c2c9db;
    width: 190px;
    height: 50px;
    background-color: #fff;
    border-radius: 100px;
}

.cta-btn:hover {
    background-color: #6e45e2;
    color: #fff;
}