@media screen and (max-width: 480px) {
 .header-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
 }

 .main-menu {
    display: none;
    margin: 0 0 10px;
 }

 .main-menu li {
     width: 100%;
     display: block;
     font-size: 12px;
 }

 .main-menu a {
     display: block;
     padding: 8px;
 }

 .toggle-button {
     text-align: center;
     display: block;
     cursor: pointer;
     color: #000;
 }

 .toggle-button:after{
     content: attr(data-open);
     display: block;
 }

 #menu-checkbox:checked + nav[role="navigation"] .main-menu{
    display: block;
 }
 
 #menu-checkbox:checked + nav [role="navigation"] .toggle-button:after {
    content: attr(data-close);
 }

 .header-container a {
    margin-right: -65px;
 }

.main-menu {
    position: relative;
    top: 30px;
    right: 0px;
 }

 .top-slide {
   padding: 50px 0 50px;
}

 .top-slide h2 {
   font-size: 30px;
 }
 .top-slide p {
   font-size: 16px;
}

.specialize-container p {
   font-size: 16px;
}

.specialize-card {
   flex-direction: column;
   align-items: center;
}

.card {
   margin: 10px 0 0;
}

.top-card {
   width: 230px;
   height: 180px;
}

.bottom-card {
   width: 230px;
   height: 60px;
}

.portfolio {
   padding: 60px 0 0;
}

}