body {
    font-family: 'Century Gothic', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

header {
    background-color: #f6f6f6;
    padding: 22px 0;
    margin: 15px;
}

header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 2px dotted green; */
}

header-container a {
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 71px;
    padding: 27px 6px;
}

header-container a:hover {
    background-color: #ffea00;
}

#menu-checkbox {
    display: none;
}

ul {
    display: flex;
}

nav {
    margin-top: 20px;
}

.top-slide {
    background: url(img/slider_bg.jpg) no-repeat;
    background-size: cover;
    padding: 120px 0 280px;
}

.top-container {
    width: 85%;
    margin: 0 auto;

    /* border: 2px dotted red;  */
}

.top-container :nth-child(2) {
    margin: 5px 0 10px;
}

.top-slide h2 {
    display: inline;
    background: #ffea00;
    font-size: 70px;
    text-transform: uppercase;
    padding: 0 13px;
}

.top-slide p {
    display: inline;
    background: #414146;
    font-size: 24px;
    color: #fff;
    padding: 0 4px;
}

.specialize-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.specialize-container h3 {
    font-size: 35px;

    margin: 20px 0 0;   /* Добавил свой отступ */
}

.specialize-container p {
    font-size: 24px;
    margin: 20px 0 40px;
}


.top-card {
    width: 250px;
    height: 201px;
    background: #ffea00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-card-img {
    background: none;
}

.top-card img{
    max-width: 110px;
}

.first-card-img img {
    min-width: 100%;
}

.bottom-card {
    width: 250px;
    height: 85px;
    background: #414146;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-card p {
    display: inline-block;
    margin: 0;
    font-size: 13px;
}

p.first-card {
    font-size: 20px;
}

.specialize-card {
    display: flex;
    justify-content: space-between;
}

.portfolio {
    max-width: 90%;
    margin: 0 auto;
    padding: 90px 0 0;
    text-align: center;
}

.portfolio h4 {
    display: inline-block;
    background: #424147;
    padding: 0 30px;
    margin: 0 0 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: #f5e10a;
    margin: 0 0 30px;
}

.portfolio p {
    color: #424146;
    font-size: 16px;
}

.toggles button {
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px 5px;
}

.toggles button:after {
    content:' / ';
}

.toggles button:last-child:after {
    content: ' ';
}

.posts {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    min-height: 840px;
    
    /* grid-template-columns: auto auto auto auto; */
    

}

.post {
    max-width: 360px;
    max-height: 270px;
   /* border: 3px solid green; */
}

.post img {
    width: 360px;
    height: 270px;
    /* border: 1px solid red; */
}







#spaces {
    height: 20vh;
    background: #e6e9ef;
    border-top: 1px dotted #a1acc4;
    margin: 20p 0 0;
}